<app-header></app-header>
<div class="w-100 h-100">
    <div class="row mt-5">
        <div class="col-10">
            <img class="w-100 h-img" src="./assets/contact-img.png" alt="">
        </div>
        <div class="col-2 bg-white">
            <img class="w-100" src="./assets/ial-logo.png" alt="">
            <p>Interstate Architects Ltd.</p>
            <div class="row">
                <div class="col">
                    <img class="w-75" src="./assets/con2.png" alt="">
                </div>
                <div class="col">
                    <img class="w-75" src="./assets/con3.png" alt="">
                </div>
            </div>
            <div class="pt-3">
                <img class="w-100" src="./assets/con4.png" alt="">
            </div>
            <div>
                <p class="fw-bold mb-0">Lagos Office:</p>
                <p>Tinuose
                    House, 45, Murtala Muhammed
                    International Airport
                    Roadd ,
                    Ajao Estate, 100263, Lagos
                    P.O. Box 1701, Marina, Lagos
                    Tel: +234 706 350 0603</p>
                <p class="fw-bold mb-0">Abuja Office:</p>
                <p>41, Colorado Close Minister’s Hill,
                    Maitama, FCT, Abuja
                    Tel: +234 816 983 0284</p>
                <div>
                    <a class="l-size d-block" href="mailto:info@interstatearchitects.com">info@interstatearchitects.com</a>
                    <a class="l-size d-block" href="www.interstatearchitects.com">www.interstatearchitects.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
