<app-header></app-header>
<div class="container mt-3 pt-5">
        <h1 class="text-center">Management</h1>
        <div class="row">
            <div class="col-4">
                <img class="w-100 person-h" src="./assets/person1.png" alt="">
                <p class="mb-0 text-end">Festus Adeleke Adesina</p>
                <p class="fw-bold text-end">Chairman of the Board</p>
                <p>Joined Interstate Architects
                    Ltd, then known as
                    Watkins Gray Woodgate, Nigeria in June 1972
                    as a Project Manager. He later rose to the
                    position of Managing Director of the company
                    from January 1987 to 2000, by 2001 he had
                    become the Executive Chairman, of the
                    company. <br> <br>
                    With over fifty years involvement in the
                    building Industry, he is highly experienced in
                    project administration and management.</p>
            </div>
            <div class="col-4">
                <img class="w-100 person-h" src="./assets/person2.png" alt="">
                <p class="mb-0 text-end">Olusegun P. Adetokunbo Ladega, FNIA</p>
                <p class="fw-bold text-end">Managing Director, CEO</p>
                <p>A Chartered and Registered Architect with 40
                    years' consultancy practice experience in
                    Architectural Design, Construction Contract
                    Administration, Project Management, Facilities
                    Management, Arbitration and Dispute
                    resolution. His portfolio of successfully
                    completed projects cover a diverse range of
                    Building Types. Well known in the
                    construction industry, Olusegun is a Past
                    President of the Association of Consulting
                    Architects Nigeria (ACAN), former National
                    Treasurer Nigerian Institute of Architects (NIA)
                    and a member the Board of Trustees, Guild of
                    Adjudicators in Nigeria (GAIN).</p>
            </div>
            <div class="col-4">
                <img class="w-100 person-h" src="./assets/person3.png" alt="">
                <p class="mb-0 text-end">Tubotamunonimi Ekine Ekine</p>
                <p class="fw-bold text-end">Executive Director</p>
                <p>Joined
                    IAL as a Graduate Architect in 1992
                    rising to become Studio Manager, Resident
                    Architect, Associate Director and currently,
                    Executive Director in charge of our Abuja
                    Office. Was responsible for the Supervision
                    and Management of the CBN Head Office
                    Project in Abuja. The Project team under him
                    then metamorphosed into our Abuja office.
                    With three decades of Design, Contract
                    Administration, Project and Facility
                    Management experience. A member of the
                    NIA, ARCON and an Associate Member of the
                    Chartered Institute of Arbitrators, Nigeria</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="w-100 person-h" src="./assets/person4.png" alt="">
                <p class="mb-0 text-end"></p>
                <p class="fw-bold"></p>
                <p>Sola joined IAL in 2004. Having worked on
                    projects in London as well as being a visiting
                    critic at the Royal College of Art. He has
                    worked on masterplanning schemes in Lagos
                    and managed and administered CBN State
                    Branch development projects in Awka ,
                    Anambra State, Osogbo, Osun State and Ado
                    Ekiti, Ekiti State.</p>
            </div>
            <div class="col-4">
                <img class="w-100 person-h" src="./assets/person5.png" alt="">
                <p class="mb-0 text-end"></p>
                <p class="fw-bold"></p>
                <p>Tunde is registered with ARCON, and he is a
                    member of the Nigerian Institute of Architects. <br> <br>
                    He has extensive project management and
                    project administration experience. He has
                    designed numerous institutional, residential,
                    and commercial projects for private
                    individuals, governments, and multinationals.;
                    he was a prominent member of the team of
                    professionals that designed the Afreximbank
                    Head Office, Cairo Egypt, and the Zenith Bank
                    Ghana Head Office, Accra Ghana.</p>
            </div>
            <div class="col-4">
                <img class="w-100 person-h" src="./assets/person6.png" alt="">
                <p class="mb-0 text-end"></p>
                <p class="fw-bold"></p>
                <p>Yemi joined the firm in 1999 as a Resident
                    Architect on the CBN Head Office Complex
                    Project. A fellow of the Nigerian Institute of
                    Architects, and a Chartered member of the
                    Architects Registration Council of Nigeria. A
                    Certified Project Manager with over 21 years
                    experience in Architectural Consultancy, from
                    project initiation to execution and delivery. She
                    has participated in the Design, supervision and
                    administration of notable projects ranging from
                    Office, Commercial and Residential
                    Developments. She is currently the Vice
                    Chairman of the Nigerian Institute of
                    Architects, Abuja Chapter.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="w-100 person-h" src="./assets/person7.png" alt="">
                <p class="mb-0 text-end"></p>
                <p class="fw-bold"></p>
                <p>With over 15 years of post
                    qualification
                    experience; from inception to completion
                    stage on Residential, Commercial &
                    Institutional Building projects. She has
                    extensive experience of analysing and
                    developing briefs, design proposals,
                    construction documentation, project
                    management, site supervision, and contract
                    administration.</p>
            </div>
            <div class="col-4">
                <img class="w-100 person-h" src="./assets/person8.png" alt="">
                <p class="mb-0 text-end"></p>
                <p class="fw-bold"></p>
                <p>Manages the Finances and Administration of
                    IAL with efficiency and professional aptitude.</p>
            </div>
            <div class="col-4">
                <img class="w-100 person-h" src="./assets/person9.png" alt="">
                <p class="mb-0 text-end"></p>
                <p class="fw-bold"></p>
                <p>He is responsible for the day to day running of
                    our Abuja Office.</p>
            </div>
        </div>
    </div>
