<app-header></app-header>
<!-- <div class="contain">
        <img src="./assets/landing.png" alt="">
    </div> -->
<div class="container-fluid pt-5 px-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3500">
        <div class="d-flex img-h align-items-start">
            <img src="./assets/landing.png" class="h-100 w-100" alt="...">
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="3500">
        <div class="d-flex img-h align-items-start">
            <div class="w-flex1">
                <img src="./assets/ial-logo.png" alt="">
                <p class="fw-bold text-end">Lagos Marina Waterfront</p>
            </div>
            <div class="w-flex2">
                <img src="./assets/slide3.png" class="d-block first-w" alt="...">
                <div class="d-flex row">
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <div class="round-g">1</div>
                                <span class="ms-2">2013</span>
                            </div>
                            <div>
                                <span>Central Bank of Nigeria Lagos Office</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <div class="round-g">2</div>
                                <span class="ms-2">1967</span>
                            </div>
                            <div>
                                <span>Niger Office</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <div class="round-g">3</div>
                                <span class="ms-2">1963</span>
                            </div>
                            <div>
                                <span>Nigerian Ports Authority</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <div class="round-g">4</div>
                                <span class="ms-2">1981</span>
                            </div>
                            <div>
                                <span>Primrose Tower</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <div class="round-g">5</div>
                                <span class="ms-2">1964</span>
                            </div>
                            <div>
                                <span>Electricity Corporation of Nigeria</span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="3500">
        <div class="d-flex img-h align-items-start">
            <div class="pe-3 w-flex1">
                <img src="./assets/ial-logo.png" alt="">
                <p class="fw-bold text-end">Central Bank of Nigeria <br> (CBN) Headquarters</p>
                <p class="text-end">Abuja, F.C.T</p>
                <p class="text-end">Office</p>
                <p class="text-end">2003</p>
            </div>
            <div class="w-flex2">
                <img src="./assets/slide2.png" class="h-100 w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="3500">
        <div class="d-flex img-h align-items-start">
            <div class="w-flex1 pe-3">
                <img src="./assets/ial-logo.png" alt="">
                <p class="fw-bold text-end">CBN Headquarters</p>
            </div>
            <div class="w-flex2">
                <img src="./assets/slide1.png" class="h-100 w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="3500">
        <div class="d-flex img-h align-items-start">
            <div class="pe-3 w-flex1">
                <img src="./assets/ial-logo.png" alt="">
                <p class="fw-bold text-end">Civic Towers</p>
                <p class="text-end">Victoria Island, Lagoos State</p>
                <p class="text-end">Office</p>
                <p  class="text-end">2015</p>
            </div>
            <div class="w-flex2">
                <img src="./assets/slide4.png" class="h-100 w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="3500">
        <div class="d-flex img-h align-items-start">
            <div class="pe-3 w-flex1">
                <img src="./assets/ial-logo.png" alt="">
                <p class="fw-bold text-end">African Development Bank, Nigeria Field Office</p>
                <p class="text-end">Abuja, F.C.T</p>
                <p class="text-end">Office</p>
                <p class="text-end">2017</p>
            </div>
            <div class="w-flex2">
                <img src="./assets/slide5.png" class="h-100 w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="3500">
        <div class="d-flex img-h align-items-start">
            <div class="w-flex1 pe-3">
                <img src="./assets/ial-logo.png" alt="">
                <p class="fw-bold text-end">African Development Bank, Nigeria Field Office</p>
            </div>
            <div class="w-flex2">
                <img src="./assets/slide6.png" class="h-100 w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="3500">
        <div class="d-flex img-h align-items-start">
            <div class="w-flex1 pe-3">
                <img src="./assets/ial-logo.png" alt="">
                <p class="fw-bold text-end">CBN Lagos Phase One</p>
                <p class="text-end">Marina, Lagos State</p>
                <p class="text-end">Office Development</p>
                <p class="text-end">Completed 2013</p>
            </div>
            <div class="w-flex2">
                <img src="./assets/slide7.png" class="h-100 w-100" alt="...">
            </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>